extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let lionid = toShow._id
    - let lionname = toShow.name
    - let lionage = toShow.age
    - let lionbreed = toShow.breed
  
    div.row(class='mb-2')
      div.mr-1 ID is
      div #{lionid}
    - let actionid = "/resource/lion/" + lionid
    form(id='lionForm', action= actionid, method="PUT")
      div.form-group
          label.lionAttr(for='name') lion name
          input#name(type='text', name='name', value= name )
      div.form-group
          label.lionAttr(for='age') lion age
          input#age(type='number', name='age', value= age )
      div.form-group
          label.lionAttr(for='breed') lion breed
          input#breed(type='text', name='breed', value= breed )
      input(type="submit")

  script.
    document.forms['lionForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      console.log(event.target)
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });